.main {
  height: 100vh;
  background-color: rgb(40, 40, 100);
}

.popup {
  width: 40%;
}

#male {
  width: 5rem;
  background-color: rgb(200, 200, 212);
}

#female {
  width: 5rem;
  background-color: rgb(200, 200, 212);
}

.main-div {
  height: 100vh;
  background-color: rgb(40, 40, 100);
}

.heading {
  background-color: rgb(200, 200, 212);
}

.pickup {
  height: 39rem;
}

/* media query */
@media screen and (max-width: 450px) {
  .popup {
    width: 80%;
  }
  .pickup {
    height: 50rem;
  }
}
